<%- include('../partials/admin/header.ejs') %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<style>
  #productTable tbody tr:hover {
    background-color: #f97a7a; 
  }
</style>

  <div style="background-color: aliceblue;" class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="margin-top: 40px;">
            <div class="card-body">
              <h5 class="card-title">Order Details</h5>
              <div class="table-responsive">
                <table style="color: black; background-color: white;" id="productTable"  >            
                        <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Order Date</th>
                      <th scope="col"> </th>
                       <th scope="col">Payment Method</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                      
                    </tr>
                  </thead>

                  <tbody>
                    <% if(message.length>0){ %>
                      <%for(let i=message.length-1;i>=0;i--){ %>
                        <tr>
                        <th scope="row">
                          <%= message.length-i %>
                        </th>
                        <td>
                          <a style="color:black;" href="/admin/singleorder?id=<%= message[i]._id %>">
                            <%= message[i].user %>
                          </a>
                        </td>
                        <td>
                          <%= message[i].date.toISOString(0,10) %>
                        </td>
                        <td>
                          <a style="color:black;" href="/admin/singleorder?id<%= message[i]._id%>">View Detail></a>
                        </td>
                        <td>
                          <%= message[i].paymentMethod %>
                        </td>
                        <td>
                          <%=message[i].totalAmount %>
                        </td>

                        <% if(message[i].status=='placed'){ %>
                          <td>Placed</td>
                          <td>
                            <a style="color:rgb(21, 232, 10);"
                            href="/admin/editorder?id=<%=message[i]._id%>">Delivered</a>
                            
                          </td>
                          <% } %>

                          <% if (message[i].status=='delivered') { %>
                          <td>Delivered</td>
                          <td>-</td>
                          <% } %>

                          <% if (message[i].status=='req-for-cancellation') { %>
                            <td>Requested for cancellation</td>
                            <td><a style="color:rgb(21, 232, 10);" 
                              href="/admin/editorder?id=<%=message[i]._id%>">Approve</a>

                             </td>
                             <% } %>

                             <% if (message[i].status=='cancelled'){ %>
                              <td>cancelled</td>
                              <td>-</td>
                              <% } %>

                              <% if (message[i].status=='req-for-return') { %>
                              <td>Requested for return</td>
                              <td><a style="color:rgb(8, 241, 35);"
                              href="/admin/editorder?id=<%=message[i]._id%>">Approve</a></td>
                              <% } %>

                              <% if (message[i].status=='returned') { %>
                                <td>Returned</td>
                                <td>-</td>
                                <% } %>
                              </tr>
                              <% } %>
                              <% }else { %>
                                <tr>
                                  <td colspan="3">Orders not found</td>
                                </tr>
                                <% } %>
                              </tbody> 
                            </table>
                          </div>
                        </div>
                      </div>

                      <script>
                        $(document).ready(function() {
                          $('#productTable').DataTable({
                            "bInfo": false  
                          });
                        });
                      </script>
                    </div>
                  </div>
                  

                              
                              
                            
                          
                          
                          
                          

                         

                        

                      
                    
                    
                    
                 