<%- include('../partials/admin/header.ejs') %>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<style>
  #productTable tbody tr:hover {
    background-color: ghostwhite; 
  }
</style>

  <div class="clearfix"></div>

  
  <div class="content-wrapper">
    <div class="container-fluid">
        

<div style="margin-top: 20px;">
  <button type="button" class="btn btn-outline-info"><a href="/admin/products/add">ADD PRODUCTS</a></button>
</div>
<div class="row" >
  <div class="col-lg-12">
      
    <div class="card" style="margin-top: 20px;">
      
<div class="card-body">
  
        <h5 class="card-title">PRODUCT DETAILS</h5>
        <div class="table-responsive">              
          <table style="color: black; background-color: rgb(131, 167, 167);" id="productTable"  >                 
             <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
               
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if (message.length> 0) { %>
                <% for (let i=0; i < message.length; i++) { %>
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>
                    <td>
                      <%= message[i].name %>
                    </td>
                    <td>
                     ₹ <%= message[i].price %>
                    </td>
                    <td>
                      <%= message[i].category %>
                    </td>
                    <td>
                      <% for (let j = 0; j < message[i].image.length; j++) { %>
                        <img style="width: 80px; height: 80px;" src="/productimages/<%= message[i].image[j] %>" alt="Product Image">
                      <% } %>
                      
                  </td>
                  <td>
                    <%= message[i].stock %>
                  </td>
                  <td>
                    <%= message[i].status %>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-dark">
                      <a href="/admin/products/delete?id=<%= message[i]._id%>" style="color: red;">Delete</a>
                    </button>
                      <button type="button" class="btn btn-outline-dark">
                        <a href="/admin/products/edit?id=<%= message[i]._id%>" style="color: darkgreen;">Edit</a></button>
                      </button>
                       
                        <% if (message[i].is_blocked==false) { %>
                          
                          <td><a style="color:rgb(8, 8, 8);" href="/admin/products/block?id=<%=message[i]._id%>">BLOCK</a></td>
                          <% } else { %>
                            
                            <td><a style="color: brown;" href="/admin/products/unblock?id=<%=message[i]._id%>">UNBLOCK</a></td>
                            <% } %>

                  </td>
                  
                  </tr>
                  <% } %>
                    <% } else { %>
                      <tr>
                        <td colspan="3">Products not found</td>
                      </tr>
                      <% } %>
            </tbody>
          </table>

          
          <script>
            $(document).ready(function() {
              $('#productTable').DataTable({
                "bInfo": false  // Disable the display of information about the table
              });
            });
          </script>
       
</div>
</div>
</div>
</div>
</div>
      