
<%- include('../partials/admin/header.ejs') %>

  

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="margin-top: 40px;">
            <div class="card-body">
              <h5 class="card-title">Customer Details</h5>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Email</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (message.length> 0) { %>
                      <% for (let i=0; i < message.length; i++) { %>
                        <tr>
                          <th scope="row">
                            <%= i+1 %>
                          </th>
                          <td>
                            <%= message[i].name %>
                          </td>
                          <td>
                            <%= message[i].mobile %>
                          </td>
                          <td>
                            <%= message[i].email %>
                          </td>
                          <% if (message[i].is_block==0) { %>
                            <td>Active</td>
                            <td><a style="color:rgb(8, 8, 8);" href="/admin/users/block?id=<%=message[i]._id%>">BLOCK</a></td>
                            <% } else { %>
                              <td>Blocked</td>
                              <td><a style="color: greenyellow;" href="/admin/users/unblock?id=<%=message[i]._id%>">UNBLOCK</a></td>
                              <% } %>

                        </tr>
                        <% } %>
                          <% } else { %>
                            <tr>
                              <td colspan="3">Users not found</td>
                            </tr>
                            <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->