
<%- include('../partials/admin/header.ejs') %>

  <style>
    .pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.page-item {
    margin: 0.5px; 
}

.page-link {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #007bff;
    border-radius: 5px;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

  </style>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="margin-top: 40px;">
            <div class="card-body">
              <h5 class="card-title">Customer Details</h5>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Email</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (message.length> 0) { %>
                      <% for (let i=0; i < message.length; i++) { %>
                        <tr>
                          <th scope="row">
                            <%= i+1 %>
                          </th>
                          <td>
                            <%= message[i].name %>
                          </td>
                          <td>
                            <%= message[i].mobile %>
                          </td>
                          <td>
                            <%= message[i].email %>
                          </td>
                          <% if (message[i].is_block==0) { %>
                            <td>Active</td>
                            <td><a style="color:rgb(8, 8, 8);" href="/admin/users/block?id=<%=message[i]._id%>">BLOCK</a></td>
                            <% } else { %>
                              <td>Blocked</td>
                              <td><a style="color: greenyellow;" href="/admin/users/unblock?id=<%=message[i]._id%>">UNBLOCK</a></td>
                              <% } %>

                        </tr>
                        <% } %>
                          <% } else { %>
                            <tr>
                              <td colspan="3">Users not found</td>
                            </tr>
                            <% } %>
                  </tbody>
                </table>

              </div>

              <nav>
                <ul class="pagination">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                        </li>
                    <% } %>

                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>

                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            </div>
          </div>
        </div>
      </div><!--End Row-->