<%- include('../partials/users/header.ejs') %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <a href="/">/Checkout</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="checkout spad">
    <div class="container">
        
        <div class="checkout__form">
            <h4>Billing Details</h4>

            <form action="" id="checkout">
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                        <% if (addressdata && addressdata.address && addressdata.address.length > 0) { %>
                        <h4>Available addresses are</h4>
                        <% for(let i=0; i < addressdata.address.length; i++) { %>
                        <div class="custom-control custom-checkbox">
                            <input type="radio" class="custom-control-input" id="address-<%= i %>" name="address" type="radio" value="<%= JSON.stringify(addressdata.address[i]) %>" required>
                            <label class="custom-control-label" for="address-<%= i %>">
                                <%= addressdata.address[i].firstname %>
                                <%= addressdata.address[i].lastname %><br>
                                Address: <%= addressdata.address[i].address %><br>
                                <%= addressdata.address[i].city %><br>
                                <%= addressdata.address[i].state %><br>
                                <%= addressdata.address[i].pin %><br>
                                Phone: <%= addressdata.address[i].phone %><br>
                            </label>
                        </div>
                        <% } } else {%>
                        <p>no address found, add a new address</p>
                        <%}%>

                        <a href="/add-address"><button type="button" class="btn btn-success rounded-pill m-2">Add another address</button></a>
                        <div class="shoping__continue">
                            <div class="shoping__discount">
                                <h5>Discount Codes</h5>
                                <form action="#">
                                    <input type="text" placeholder="Enter your coupon code" id="code" style="height: 45px;">
                                    <button type="submit" onclick="applycoupon($('#code').val())" class="site-btn">APPLY COUPON</button>
                                    <button type="button" onclick="removecoupon()" class="site-btn">Remove Coupon</button>
                                </form>
                            </div>
                            <div class="border" style="padding: 10px; border-radius: 5px;background-color: azure;" >
                                <details>
                                    <summary>Available coupons</summary>
                                    <% if (availableCoupons && availableCoupons.length > 0) { %>
                                    <% availableCoupons.forEach(coupon => { %>
                                    <div class="d-flex justify-content-between">
                                        <h6 class="my-2"><%= coupon.code %></h6>
                                        <p>Get <%= coupon.discount %>discount</p>
                                    </div>
                                    <% }); %>
                                    <% } else { %>
                                    <h6 class="mb-3">No coupon available</h6>
                                    <% } %>
                                </details>
                            </div>
                           
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Plants <span>Total</span></div>
                            <ul>
                                <% products.forEach((value,index)=>{%>
                                <li>
                                    <%=value.productId.name%>     
                                </li>
                                <%})%>

                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>
                                    <%=originalTotal.toFixed(2)%>
                                </span></div>
                                        

                           
                                <div class="checkout__order__subtotal">Discount <span id="discount">
                                    <%= (snakePlantDiscount + floweringPlantsDiscount + couponDiscount).toFixed(2) %>
                                </span></div>


                                 
                            <div class="checkout__order__total">Total Amount <span id="total1">
                                <%= Total .toFixed(2) %>
                            </span></div>

                            
                            <div class="form-group">
                                <% if (parseFloat(walletAmount) >= parseFloat(Total)) { %>

                                    <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payment" value="wallet" >
                
                                            Pay with Wallet
                                        </label>
                                    </div>
                                    </div>
                                <% } else { %>
                                    <div class="col-md-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payment" value="wallet" disabled>
                                            Pay with Wallet
                                        </label>
                                        <span style="color: red;font-size: 10px;">Not enough amount in wallet</span>
                                    </div>
                                </div>
                            
                                <% } %>
                            
                                

                               
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="payment" value="online" required>
                                            Online Payment
                                        </label>
                                    </div>
                                </div>
                            

                            
                                <div class="col-md-12">
                                    <div class="radio">
                                        <% if (Total <= 1000) { %>
                                        <label><input type="radio" name="payment" value="COD" required> Cash On Delivery</label>
                                        <% } else { %>
                                            <label><input type="radio" name="payment" value="COD" disabled >
                                            <span>Cash On Delivery</span>
                                            </label>
                                            <p style="color: red; font-size: 10px;">Cash on Delivery is only available for orders under ₹1000.</p>

                                       <% } %>
                                    </div>
                                </div>
                            </div>
                            </div>

                            

                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>


<!-- Checkout Section End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    console.log("Wallet Amount: <%= walletAmount %>, Total: <%= Total %>");
</script>

<script>
    $("#checkout").submit((e) => {
        e.preventDefault()
        const amount = document.getElementById("total1").innerHTML;
        const discountAmount = document.getElementById("discount").innerHTML;
        const selectedAddressString = $("input[name=address]:checked").val();
        const selectedAddress = JSON.parse(selectedAddressString);
        console.log(selectedAddress)
        const payment = $("input[name=payment]:checked").val();
        const products = "<%= JSON.stringify(products) %>";


        console.log(amount);
        console.log(selectedAddress);
        console.log(payment);
        console.log(discountAmount);

       
        $.ajax({
            url: "/checkout",
            method: "post",
            data: {
                amount: amount,
                address: selectedAddress.address,
                city: selectedAddress.city,
                state: selectedAddress.state,
                pin: selectedAddress.pin,
                payment: payment,
                discountAmount: discountAmount,
                products: products
            },
            success: (response) => {
                 if (response.success == true) {
                    window.location.href = '/placeorder';
                 } else {
                    razorpayPayment(response.order)
                 }
                
            }
        })
    })

    function razorpayPayment(order) {

var options = {
    "key": "rzp_test_EHW8XOWQ4MCkeR", 
    "amount": order.amount * 10,
    "currency": "INR",
    "name": "Plantly", 
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    "handler": function (response) {

         //alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        verifyPayment(response, order);
    },
    "prefill": {
        "name": "Akhil", //your customer's name
        "email": "akhilaroly1@gmail.com",
        "contact": "9745513967"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
const rzp1 = new Razorpay(options);
rzp1.open();
}

function verifyPayment(payment, order) {
const amount = document.getElementById("total1").innerHTML;
// const amount2 = document.getElementById("gt2").innerHTML;
$.ajax({
    url: "/verifyPayment",
    method: "post",
    data: {
        payment,
        amount,
        order
    },
    success: (response) => {
        if (response.success) {
            location.href = '/placeorder';

        } else {
            alert('payment failed');
            location.href = '/';
        }
    }
})
}

function applycoupon(code) {
const amount = document.getElementById('total1').innerHTML;
console.log(amount);
$.ajax({
    url: "/applyCoupon",
    data: {
        code: code,
        amount: amount
    },
    method: "post",
    success: (response) => {
        console.log(response);
        if (response.user) {
            console.log("You have already used this coupon");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'This coupon already used by you!'
            })
        } else if (response.limit) {
            console.log("coupon limit exceeded");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'coupon limit exceeded!'
            })
        } else if (response.status) {
            console.log("This coupon now not in use");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'This coupon is not in use now!'
            })
        } else if (response.cartAmount) {
            console.log("You cant use the coupon...Buy more");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'You cant use the coupon...Buy more'
            })
        } else if (response.date) {
            console.log("coupon date expired");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon expired!!!'
            })
        } else if (response.amountOkey) {
            console.log("discount granted");
            document.getElementById('discount').innerHTML = response.disAmount
            document.getElementById('total1').innerHTML = response.disTotal
            console.log("done");
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Discount redeemed',
                showConfirmButton: false,
                timer: 1500
            })
        } else if (response.invalid) {
            console.log("invalid coupon");
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid Coupon!!!'
            })
        }
    }
})
}

function removecoupon() {
    const originalTotal = "<%= Total.toFixed(2) %>"; // Store original total
    const discountElement = document.getElementById('discount');
    const totalElement = document.getElementById('total1');
    
    // Reset discount and total to original values
    discountElement.innerHTML = '0.00';
    totalElement.innerHTML = originalTotal;
    
    // Optional: Clear coupon code input field
    document.getElementById('code').value = '';

    // Provide feedback
    Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Coupon removed',
        showConfirmButton: false,
        timer: 1500
    });
}



</script>